<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="custom-card">
    <ion-img src="https://via.placeholder.com/300" class="card-image"></ion-img>
    
    <div class="overlay">
      <div class="overlay-content">
        <div class="indicator">
          <div class="indicator-item">
            <ion-icon name="people" class="icon"></ion-icon>
            <span>16/16</span>
          </div>
          <div class="indicator-item">
            <ion-icon name="people" class="icon"></ion-icon>
            <span>26/32</span>
          </div>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
