<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button 
    defaultHref="tabs/tab2"
    text=""
    color="dark"
    slot="start">
  </ion-back-button>
    <ion-title>
      Eventos inscritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="pr pl">Aqui podras ver tus eventos inscritos, generar tu codigo QR de ingreso o cancelar tu asistencia.</p>

  <ion-card *ngFor="let e of eventos" color="dark" class="pb"> 
    <ion-card-header>
      <ion-card-subtitle>Fecha del evento: {{e.fecha}}</ion-card-subtitle>
      <ion-card-title>{{e.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Imagen va aqui -->
       <img src="assets/evento1.jpg" alt="">
      <p>Lugar: {{e.lugar}}</p>
      <p>{{e.descripcion}}</p>
      <p *ngFor="let asistente of e.asistentes">
        <span *ngIf="asistente.username === username">
          Estado: {{asistente.estado}}
        </span>
      </p>
    </ion-card-content>
    <ion-button (click)="generarQr(e)" class="pr pl pb"  color="tertiary" expand="block" fill="solid" shape="round" size="default">
      Generar QR
    </ion-button>
    <ion-button  (click)="masInformacion(e)" class="pr pl pb"  color="success" expand="block" fill="solid" shape="round" size="default">
      Dejar comentarios
    </ion-button>
    <ion-button  (click)="confirmacion(e.id)" class="pr pl pb"  color="tertiary" expand="block" fill="outline" shape="round" size="default">
      Cancelar Asistencia
    </ion-button>
  </ion-card>

  <!-- <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>Fecha del evento:</ion-card-subtitle>
      <ion-card-title>Superluna Evento Hablemos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/evento1.jpg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptatum illo atque iure dolorum labore sed error nulla ratione, velit, eveniet ullam asperiores voluptate et soluta minima modi, ut temporibus?</p>
    </ion-card-content>
    <ion-button class="pr pl pb" href="/qr" color="tertiary" expand="block" fill="solid" shape="round" size="default">
      Generar QR
    </ion-button>
    <ion-button class="pb pr pl"  color="danger" expand="block" fill="outline" shape="round" size="default">
      Cancelar asistencia
    </ion-button>
  </ion-card> -->
 
</ion-content>
