<div>
  <ion-content style="height: 500px; margin-top: 600px;">
    <div style="max-height: 500px;max-width: 500px;">
      <img src="assets/img/img1.jpg" alt="Slide 1">
    </div>
  </ion-content>
  <ion-content [fullscreen]="true" class="login-container">
    <div class="login-card-wrapper">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Email: </ion-label>
            <ion-input type="email" placeholder="Ingrese correo" name="correo" [(ngModel)]="correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password: </ion-label>
            <ion-input type="password" placeholder="Ingrese contraseña" name="pass" [(ngModel)]="pass"></ion-input>
          </ion-item>
        </ion-card-content>

        <div style="text-align: center; margin-bottom: 20px;">
          <ion-button (click)="login()" fill="solid" shape="round" color="medium" class="boton">
            Login
          </ion-button>
        </div>
      </ion-card>
    </div>
  </ion-content>
</div>
<ion-footer>
  <ion-toolbar>
    <ion-label style="margin-left: 10px;">ProKiosk</ion-label>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-discord" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-github" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="logo-angular" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>