<ion-header>
  <ion-toolbar>
    <ion-title>Mis Eventos Inscritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="eventosInscritos.length > 0; else noEventos">
    <ion-item *ngFor="let evento of eventosInscritos">
      <ion-thumbnail slot="start">
        <img [src]="evento.imagen">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ evento.nombre }}</h2>
        <p>{{ evento.descripcion }}</p>
        <p>Participantes: {{ evento.numeroParticipantes }}/{{ evento.maxParticipantes }}</p>
        <ion-button (click)="salirDelEvento(evento)">Salir del Evento</ion-button>
        <ion-button (click)="agregarComentario(evento)">Dejar Comentario</ion-button>
        <ion-button (click)="verQR(evento)">Ver QR</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noEventos>
    <ion-item>
      <ion-label>No has inscrito a ningún evento.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
