<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¿Que hacer en Duoc?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="pl pr">Desliza hacia la derecha para ver mas...</p>
  
  <!-- <ion-slides pager="true" [options]="slideOpts" >
    <ion-slide mode="md" *ngFor="let item of segmentList">
      <ion-card>
        <img [src]=item alt="" style="border-radius: 1rem !important; display: block;width: 100%; height: auto; margin: 0 auto;">
      </ion-card>
    </ion-slide>
  </ion-slides> -->



  <!-- <ion-segment
      mode="md"
      [(ngModel)]="selectedSegment"
      value="All"
      scrollable style=" margin-top: 20px;">
      <ion-segment-button *ngFor="let item of segmentList; let i = index " 
        [value]="item"
        (click)="_segmentSelected(i)">     
          <img   [src]=item style="width: auto; height: 200px; object-fit: cover; ">
      </ion-segment-button>
    </ion-segment> -->

    <swiper-container
    #swiper
    (afterinit)="swiperReady()"
    (slidechange)="swiperSlideChanged($event)"
  >
    <swiper-slide *ngFor="let item of segmentList" loop="true">
        <ion-card>
              <div class="image-container">
                <img [src]="item" style="width: auto; height: 200px; object-fit: cover; " />
              </div>
        </ion-card>
    </swiper-slide>
  </swiper-container>


  <ion-card *ngFor="let e of eventos" color="dark" class="pb"> 
    <ion-card-header>
      <ion-card-subtitle>Fecha del evento: {{e.fecha}}</ion-card-subtitle>
      <ion-card-title>{{e.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Imagen va aqui -->
       <img src="assets/evento1.jpg" alt="">
      <p>Lugar: {{e.lugar}}</p>
      <p>{{e.descripcion}}</p>
    </ion-card-content>
    <ion-button (click)="asistirEvento(e)" class="pr pl pb"  color="tertiary" expand="block" fill="solid" shape="round" size="default">
      Inscribirse
    </ion-button>
    <ion-button (click)="masInformacion(e)" class="pr pl pb"  color="tertiary" expand="block" fill="outline" shape="round" size="default">
      Mas informacion
    </ion-button>
  </ion-card>
  
</ion-content>
