<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/tabs/tab1"
          text=""
          color="dark"></ion-back-button>
      </ion-buttons>
    <ion-title>Mis eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button class="custom-card" [routerLink]="['/tabs/tab1']">
    <ion-img src="https://via.placeholder.com/300" class="card-image"></ion-img>
    <div class="overlay">
      <div class="contador">
        <div class="personas">
          <ion-icon name="person"></ion-icon>
          <span>0/16</span>
        </div>
        <div class="personas">
          <ion-icon name="people"></ion-icon>
          <span>0/32</span>
        </div>
      </div>
    </div>
  </ion-button>

  <ion-button class="custom-card">
    <ion-img src="https://via.placeholder.com/300" class="card-image"></ion-img>
    <div class="overlay">
      <div class="contador">
        <div class="personas">
          <ion-icon name="person"></ion-icon>
          <span>0/16</span>
        </div>
        <div class="personas">
          <ion-icon name="people"></ion-icon>
          <span>0/32</span>
        </div>
      </div>
    </div>
  </ion-button>

  <ion-button class="custom-card">
    <ion-img src="https://via.placeholder.com/300" class="card-image"></ion-img>
    <div class="overlay">
      <div class="contador">
        <div class="personas">
          <ion-icon name="person"></ion-icon>
          <span>0/16</span>
        </div>
        <div class="personas">
          <ion-icon name="people"></ion-icon>
          <span>0/32</span>
        </div>
      </div>
    </div>
  </ion-button>

  <ion-button class="custom-card">
    <ion-img src="https://via.placeholder.com/300" class="card-image"></ion-img>
    <div class="overlay">
      <div class="contador">
        <div class="personas">
          <ion-icon name="person"></ion-icon>
          <span>0/16</span>
        </div>
        <div class="personas">
          <ion-icon name="people"></ion-icon>
          <span>0/32</span>
        </div>
      </div>
    </div>
  </ion-button>

  <ion-button class="custom-card">
    <ion-img src="https://via.placeholder.com/300" class="card-image"></ion-img>
    <div class="overlay">
      <div class="contador">
        <div class="personas">
          <ion-icon name="person"></ion-icon>
          <span>0/16</span>
        </div>
        <div class="personas">
          <ion-icon name="people"></ion-icon>
          <span>0/32</span>
        </div>
      </div>
    </div>
  </ion-button>

  <ion-button class="custom-card">
    <ion-img src="https://via.placeholder.com/300" class="card-image"></ion-img>
    <div class="overlay">
      <div class="contador">
        <div class="personas">
          <ion-icon name="person"></ion-icon>
          <span>0/16</span>
        </div>
        <div class="personas">
          <ion-icon name="people"></ion-icon>
          <span>0/32</span>
        </div>
      </div>
    </div>
  </ion-button>
</ion-content>

