<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
      <ion-label color="danger">Las contraseñas no coinciden</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input formControlName="age" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input formControlName="rut"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-input formControlName="dob" type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Género</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option value="male">Masculino</ion-select-option>
        <ion-select-option value="female">Femenino</ion-select-option>
        <ion-select-option value="other">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">URL Foto de Perfil</ion-label>
      <ion-input formControlName="profilePicture"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrar</ion-button>

  </form>
</ion-content>
