<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button 
    defaultHref="tabs/tab2"
    text=""
    color="dark"
    slot="start">
  </ion-back-button>
    <ion-title>Detalle evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>Fecha del evento: {{evento.fecha}}</ion-card-subtitle>
      <ion-card-title>{{evento.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/evento1.jpg" alt="">
      <p><b>Lugar del evento: </b>{{evento.lugar}}</p>
      <p><b>Cupos: </b>{{evento.cupos}}</p>
      <p>{{evento.descripcion}}</p>
    </ion-card-content>
    <ion-button (click)="verComentarios(evento)" class="pr pl pb"  color="secondary" expand="block" fill="solid" shape="round" size="default">
      Ver Reseñas
    </ion-button>
  </ion-card>
   
  <ion-card>
    <ion-card-header>
      <ion-card-title>Comentar Evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [readonly]="true" nombre="username" labelPlacement="floating" type="text"  label="Username:" [(ngModel)]="username" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea rows="5" nombre="Comentario" placeholder="Deje sus comentarios aqui..." [(ngModel)]="comentario" ></ion-textarea>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="enviarComentarios()" class="pl pr pb" color="success" expand="block" fill="solid" shape="round">
      Enviar
    </ion-button>
   </ion-card>
   

</ion-content>
